.scrollUp {
    position: fixed;
    right: 2.5rem;
    bottom: -20%;
    background-color: var(--title-color);
    opacity: 0.8;
    padding: 0.3rem 0.6rem;
    border-radius: 0.4rem;
    z-index: var(--z-fixed);
    transition: 0.4s;
}

.scrollUp_icon {
    color: var(--container-color);
    font-size: 1.5rem;
}

.scrollUp:hover {
    background-color: var(--title-color-dark);
}

.show-scroll {
    bottom: 3rem;
}

/* For medium devices */
@media screen and (max-width: 992px) {
    .scrollUp {
        right: 1.5rem;
        padding: 0.3rem 0.5rem;
    }

    .scrollUp_icon {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 768px) {
    .show-scroll {
        bottom: 6.5rem;
        /* Higher than floating header */
    }
}

@media screen and (max-width : 400px) {

    .scrollUp {
        right: 1rem;
    }
}