.home_content {

    grid-template-columns: 116px repeat(2, 1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;

}



.home_container {

    row-gap: 7rem;


}

.home_image {
    background: url(../../asset/profile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 40%;
    width: 300px;
    height: 300px;
    box-shadow: inset 0 0 0 9px rgba(255 255 255 / 30%);
    order: 1;
    justify-self: center;
    animation: profile_animate 8s ease-in-out infinite 1s;

}

@keyframes profile_animate {
    0% {
        border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/ 50% 60% 30% 60%;
    }

    0% {
        border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
    }
}

.home_social {

    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;

}

/* .home_social-icon {
    font-size: 1.25rem;
    color: var(--title-color);

} */

/* .instagram {

    color: var(--title-color);
    outline: 2px solid black; comment this line
    border-radius: 45%; 
    outline-offset: calc(200/-2); comment this line

    } */

    /* outline-offset: 5px;
      width: 30px;
    height: 30px;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1) */

/* .home_social-icon:hover {
    transition: all 0.5s;   
} */

/* Base icon style */
/* Base icon style */
.home_social-icon {
  font-size: 1.5rem;
  color: var(--title-color);
  transition: all 0.4s ease;
  margin-right: 1rem;
}

/* Hover zoom + gradient color effect */
.home_social-icon:hover {
  transform: scale(1.25);
  /* background: linear-gradient(45deg, #30CFD0, #330867); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  animation: glowPulse 2s infinite alternate;
}


/* Keyframes for glowing gradient pulse */
@keyframes glowPulse {
  0% {
    text-shadow: 0 0 5px #30CFD0, 0 0 10px #30CFD0, 0 0 20px #330867;
  }
  50% {
    text-shadow: 0 0 15px #30CFD0, 0 0 30px #330867, 0 0 45px #30CFD0;
  }
  100% {
    text-shadow: 0 0 5px #30CFD0, 0 0 10px #330867, 0 0 20px #30CFD0;
  }
}


/* Platform-specific colors + pulsing glow */
.home_social-icon.linkedin:hover {
  color: #0077B5;
  animation: glowPulse 1.8s infinite alternate;
}

.home_social-icon.instagram:hover {
  color: #E1306C;
  animation: glowPulse 1.8s infinite alternate;
}

.home_social-icon.whatsapp:hover {
  color: #25D366;
  animation: glowPulse 1.8s infinite alternate;
}

.home_social-icon.github:hover {
  color: #000000;
  animation: glowPulse 1.8s infinite alternate;
}

.home_title {
    font-size: 50px;
    margin-bottom: var(--mb-0-10);
    /* background : linear-gradient( rgba(0,168,153) , #1212 35%  , #600a95);  */
    /*
       
    -webkit-text-fill-color: transparent;
    animation:  gradient 3s linear infinite;
    background-size: 200% auto; */

    background-clip: text;
    color: transparent;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    background-clip: text;


}


/* @keyframes gradient {
    
    0%{
        background-position: 0% 75% ;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 70%;
    }
} */

.home_subtitle {

    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 5.4rem;
    /* font-weight: var(--font-normal); */
    margin-bottom: var(--mb-1);
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    background-clip: text;
    color: transparent;

}

.home_subtitle::before {
    position: absolute;
    content: "";
    width: 70px;
    height: 1px;
    left: 0;
    top: 1rem;
    background-color: var(--text-color);
}

.home_description {

    max-width: 400px;
    margin-bottom: var(--mb-3);
}

.home_scroll {
    margin-left: 9.25rem;
}

.wheel {
    animation: scroll 2s ease infinite;
}

@keyframes scroll {

    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(3.75rem);
    }
}

.home_scroll-name {
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
    margin-left: 2px;
}

.home_scroll-arrow {
    font-size: 1.25rem;
    color: var(--title-color);
}




@media screen and (max-width : 992px) {

    .home_content {

        grid-template-columns: 100px repeat(2, 1fr);
        column-gap: 1.25rem;
    }

    .home_title {

        font-size: 40px;

    }

    .home_subtitle {
        padding-left: 3.75rem;
        margin-bottom: var(--mb-1);
    }

    .home_subtitle::before {
        width: 42px;
        top: 0.8rem;
    }

    .home_description {
        max-width: initial;
        margin-bottom: var(--mb-2-5);
    }

    .home_image {
        width: 270px;
        height: 270px;
        box-shadow: inset 0 0 0 8px rgba(255 255 255 / 30%);
    }

    .home_scroll {
        margin-left: 7.5rem;
    }
}

@media screen and (max-width :768px) {

    .home_content {
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
    }

    .home_image {
        order: initial;
    }

    .home_data {
        grid-column: 1/3;
    }

    .home_title {

        font-size: 40px;

    }

    .home_image {
        box-shadow: inset 0 0 0 6px rgba(255 255 255 / 30%);
        width: 200px;
        height: 200px;

    }

    .home_scroll {
        display: none;
    }
}

/* @media screen and (max-width : 576px) {
    .home_container{}
    
} */

@media screen and (max-width : 400px) {

    .home_image {
        width: 180px;
        height: 180px;


    }

    .home_title {

        font-size: 30px;

    }

}